**UAS EDA**


Data Preprocessing
\
\
Tema yang diambil: SDG 8 Decent Work and Economic Growth
\
\
Anggota Kelompok: \
Aisyah Gefira - 2006572945 \
Faza Muthmainnah - 2006523672 \
Valery Ongso - 2006570965 \

In [ ]:
import pandas as pd
import scipy, itertools
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from pandas import read_csv

plt.style.use('bmh'); sns.set()

In [ ]:
path = "trade in goods.csv"
tips = pd.read_csv(path)
tips.info()

path2 = "trade in service.csv"
tips2 = pd.read_csv(path2)
tips2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Countries   30 non-null     object
 1   Status      30 non-null     object
 2   2007Export  30 non-null     object
 3   2007Import  30 non-null     object
 4   2008Export  30 non-null     object
 5   2008Import  30 non-null     object
 6   2009Export  30 non-null     object
 7   2009Import  30 non-null     object
 8   2010Export  30 non-null     object
 9   2010Import  30 non-null     object
 10  2011Export  30 non-null     object
 11  2011Import  30 non-null     object
 12  2012Export  30 non-null     object
 13  2012Import  30 non-null     object
 14  2013Export  30 non-null     object
 15  2013Import  30 non-null     object
 16  2014Export  30 non-null     object
 17  2014Import  30 non-null     object
 18  2015Export  30 non-null     object
 19  2015Import  30 non-null     object
 20  2016Export  30 non-null     object
 21  2016Import  30 non-null     object
dtypes: object(22)
memory usage: 5.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   countries   10 non-null     object
 1   2010Export  10 non-null     object
 2   2010Import  10 non-null     object
 3   2011Export  10 non-null     object
 4   2011Import  10 non-null     object
 5   2012Export  10 non-null     object
 6   2012Import  10 non-null     object
 7   2013Export  10 non-null     object
 8   2013Import  10 non-null     object
 9   2014Export  10 non-null     object
 10  2014Import  10 non-null     object
 11  2015Export  10 non-null     object
 12  2015Import  10 non-null     object
 13  2016Export  10 non-null     object
 14  2016Import  10 non-null     object
dtypes: object(15)
memory usage: 1.3+ KB

In [ ]:
tips.head()

           Countries       Status  ...        2016Export        2016Import
0  Brunei Darussalam  Intra-ASEAN  ...  1,216,841,338.12  1,290,425,299.13
1  Brunei Darussalam  Extra-ASEAN  ...  3,656,949,069.43  1,379,809,110.98
2  Brunei Darussalam        World  ...  4,873,790,407.55  2,670,234,410.11
3           Cambodia  Intra-ASEAN  ...    870,181,539.27  4,613,681,441.87
4           Cambodia  Extra-ASEAN  ...  9,202,947,364.05  7,757,326,754.41

[5 rows x 22 columns]

In [ ]:
tips2.head()

            countries 2010Export 2010Import  ... 2015Import 2016Export 2016Import
0   Brunei Darussalam      460.5   1,267.30  ...   1,657.60      530.5   1,644.60
1            Cambodia   2,028.46     980.24  ...   1,903.77   4,458.29   1,951.65
2           Indonesia  16,670.51  26,460.99  ...  30,917.54  23,478.20  30,521.33
3             Lao PDR        511     263.12  ...     642.44     830.97     619.17
4            Malaysia  33,822.79  31,833.54  ...  40,129.83  35,270.61  39,872.59

[5 rows x 15 columns]

In [ ]:
tips = tips.drop(["2007Export", "2007Import", "2008Export", "2008Import", "2009Export", "2009Import"], axis = 1)

In [ ]:
tips

            Countries       Status  ...          2016Export          2016Import
0   Brunei Darussalam  Intra-ASEAN  ...    1,216,841,338.12    1,290,425,299.13
1   Brunei Darussalam  Extra-ASEAN  ...    3,656,949,069.43    1,379,809,110.98
2   Brunei Darussalam        World  ...    4,873,790,407.55    2,670,234,410.11
3            Cambodia  Intra-ASEAN  ...      870,181,539.27    4,613,681,441.87
4            Cambodia  Extra-ASEAN  ...    9,202,947,364.05    7,757,326,754.41
5            Cambodia        World  ...   10,073,128,903.32   12,371,008,196.28
6           Indonesia  Intra-ASEAN  ...   33,830,310,393.64   34,817,276,950.00
7           Indonesia  Extra-ASEAN  ...  111,355,900,852.78  100,835,539,551.00
8           Indonesia        World  ...  145,186,211,246.43  135,652,816,501.00
9             Lao PDR  Intra-ASEAN  ...    1,550,739,192.29    3,052,364,153.09
10            Lao PDR  Extra-ASEAN  ...    1,573,437,878.33    1,054,705,010.67
11            Lao PDR        World  ...    3,124,177,070.62    4,107,069,163.76
12           Malaysia  Intra-ASEAN  ...   55,681,072,529.49   41,411,056,843.14
13           Malaysia  Extra-ASEAN  ...  133,733,270,108.91  126,981,238,742.93
14           Malaysia        World  ...  189,414,342,638.40  168,392,295,586.07
15            Myanmar  Intra-ASEAN  ...    3,347,985,687.11    5,909,697,912.88
16            Myanmar  Extra-ASEAN  ...    8,161,343,488.96    9,785,985,066.30
17            Myanmar        World  ...   11,509,329,176.08   15,695,682,979.18
18        Philippines  Intra-ASEAN  ...    8,400,632,626.00   22,494,822,539.00
19        Philippines  Extra-ASEAN  ...   47,912,256,586.00   63,440,246,658.00
20        Philippines        World  ...   56,312,889,212.00   85,935,069,197.00
21          Singapore  Intra-ASEAN  ...   99,374,897,452.76   62,733,153,997.24
22          Singapore  Extra-ASEAN  ...  238,708,278,088.49  229,176,248,955.73
23          Singapore        World  ...  338,083,175,541.25  291,909,402,952.97
24           Thailand  Intra-ASEAN  ...   54,656,995,421.30   39,601,637,582.66
25           Thailand  Extra-ASEAN  ...  160,669,628,629.45  155,065,900,831.23
26           Thailand        World  ...  215,326,624,050.75  194,667,538,413.89
27           Viet Nam  Intra-ASEAN  ...   17,289,055,326.77   23,870,059,513.45
28           Viet Nam  Extra-ASEAN  ...  159,286,022,499.75  150,593,360,907.56
29           Viet Nam        World  ...  176,575,077,826.52  174,463,420,421.00

[30 rows x 16 columns]

In [ ]:
tips = tips.reset_index()
tips = tips.set_index("Status")

In [ ]:
tips

             index          Countries  ...          2016Export          2016Import
Status                                 ...
Intra-ASEAN      0  Brunei Darussalam  ...    1,216,841,338.12    1,290,425,299.13
Extra-ASEAN      1  Brunei Darussalam  ...    3,656,949,069.43    1,379,809,110.98
World            2  Brunei Darussalam  ...    4,873,790,407.55    2,670,234,410.11
Intra-ASEAN      3           Cambodia  ...      870,181,539.27    4,613,681,441.87
Extra-ASEAN      4           Cambodia  ...    9,202,947,364.05    7,757,326,754.41
World            5           Cambodia  ...   10,073,128,903.32   12,371,008,196.28
Intra-ASEAN      6          Indonesia  ...   33,830,310,393.64   34,817,276,950.00
Extra-ASEAN      7          Indonesia  ...  111,355,900,852.78  100,835,539,551.00
World            8          Indonesia  ...  145,186,211,246.43  135,652,816,501.00
Intra-ASEAN      9            Lao PDR  ...    1,550,739,192.29    3,052,364,153.09
Extra-ASEAN     10            Lao PDR  ...    1,573,437,878.33    1,054,705,010.67
World           11            Lao PDR  ...    3,124,177,070.62    4,107,069,163.76
Intra-ASEAN     12           Malaysia  ...   55,681,072,529.49   41,411,056,843.14
Extra-ASEAN     13           Malaysia  ...  133,733,270,108.91  126,981,238,742.93
World           14           Malaysia  ...  189,414,342,638.40  168,392,295,586.07
Intra-ASEAN     15            Myanmar  ...    3,347,985,687.11    5,909,697,912.88
Extra-ASEAN     16            Myanmar  ...    8,161,343,488.96    9,785,985,066.30
World           17            Myanmar  ...   11,509,329,176.08   15,695,682,979.18
Intra-ASEAN     18        Philippines  ...    8,400,632,626.00   22,494,822,539.00
Extra-ASEAN     19        Philippines  ...   47,912,256,586.00   63,440,246,658.00
World           20        Philippines  ...   56,312,889,212.00   85,935,069,197.00
Intra-ASEAN     21          Singapore  ...   99,374,897,452.76   62,733,153,997.24
Extra-ASEAN     22          Singapore  ...  238,708,278,088.49  229,176,248,955.73
World           23          Singapore  ...  338,083,175,541.25  291,909,402,952.97
Intra-ASEAN     24           Thailand  ...   54,656,995,421.30   39,601,637,582.66
Extra-ASEAN     25           Thailand  ...  160,669,628,629.45  155,065,900,831.23
World           26           Thailand  ...  215,326,624,050.75  194,667,538,413.89
Intra-ASEAN     27           Viet Nam  ...   17,289,055,326.77   23,870,059,513.45
Extra-ASEAN     28           Viet Nam  ...  159,286,022,499.75  150,593,360,907.56
World           29           Viet Nam  ...  176,575,077,826.52  174,463,420,421.00

[30 rows x 16 columns]

In [ ]:
tips=tips.drop(["Extra-ASEAN", "World"], axis=0)

In [ ]:
tips

             index          Countries  ...         2016Export         2016Import
Status                                 ...
Intra-ASEAN      0  Brunei Darussalam  ...   1,216,841,338.12   1,290,425,299.13
Intra-ASEAN      3           Cambodia  ...     870,181,539.27   4,613,681,441.87
Intra-ASEAN      6          Indonesia  ...  33,830,310,393.64  34,817,276,950.00
Intra-ASEAN      9            Lao PDR  ...   1,550,739,192.29   3,052,364,153.09
Intra-ASEAN     12           Malaysia  ...  55,681,072,529.49  41,411,056,843.14
Intra-ASEAN     15            Myanmar  ...   3,347,985,687.11   5,909,697,912.88
Intra-ASEAN     18        Philippines  ...   8,400,632,626.00  22,494,822,539.00
Intra-ASEAN     21          Singapore  ...  99,374,897,452.76  62,733,153,997.24
Intra-ASEAN     24           Thailand  ...  54,656,995,421.30  39,601,637,582.66
Intra-ASEAN     27           Viet Nam  ...  17,289,055,326.77  23,870,059,513.45

[10 rows x 16 columns]

In [ ]:
tips = tips.reset_index()
tips = tips.set_index("Countries")

In [ ]:
tips

                        Status  index  ...         2016Export         2016Import
Countries                              ...
Brunei Darussalam  Intra-ASEAN      0  ...   1,216,841,338.12   1,290,425,299.13
Cambodia           Intra-ASEAN      3  ...     870,181,539.27   4,613,681,441.87
Indonesia          Intra-ASEAN      6  ...  33,830,310,393.64  34,817,276,950.00
Lao PDR            Intra-ASEAN      9  ...   1,550,739,192.29   3,052,364,153.09
Malaysia           Intra-ASEAN     12  ...  55,681,072,529.49  41,411,056,843.14
Myanmar            Intra-ASEAN     15  ...   3,347,985,687.11   5,909,697,912.88
Philippines        Intra-ASEAN     18  ...   8,400,632,626.00  22,494,822,539.00
Singapore          Intra-ASEAN     21  ...  99,374,897,452.76  62,733,153,997.24
Thailand           Intra-ASEAN     24  ...  54,656,995,421.30  39,601,637,582.66
Viet Nam           Intra-ASEAN     27  ...  17,289,055,326.77  23,870,059,513.45

[10 rows x 16 columns]

In [ ]:
tips = tips.drop(["Status", "index"], axis = 1)

In [ ]:
tips

                           2010Export  ...         2016Import
Countries                              ...
Brunei Darussalam    1,096,169,746.88  ...   1,290,425,299.13
Cambodia               313,480,778.32  ...   4,613,681,441.87
Indonesia           33,347,510,079.00  ...  34,817,276,950.00
Lao PDR              1,151,833,526.07  ...   3,052,364,153.09
Malaysia            50,395,722,113.03  ...  41,411,056,843.14
Myanmar              4,194,081,160.46  ...   5,909,697,912.88
Philippines         11,557,640,365.00  ...  22,494,822,539.00
Singapore          107,672,854,603.10  ...  62,733,153,997.24
Thailand            44,317,939,586.97  ...  39,601,637,582.66
Viet Nam            10,350,948,467.43  ...  23,870,059,513.45

[10 rows x 14 columns]

In [ ]:
tips2

            countries  2010Export  ...  2016Export  2016Import
0   Brunei Darussalam       460.5  ...       530.5    1,644.60
1            Cambodia    2,028.46  ...    4,458.29    1,951.65
2           Indonesia   16,670.51  ...   23,478.20   30,521.33
3             Lao PDR         511  ...      830.97      619.17
4            Malaysia   33,822.79  ...   35,270.61   39,872.59
5             Myanmar       350.7  ...    3,779.40    2,899.50
6         Philippines   17,782.00  ...   31,357.24   24,232.73
7           Singapore  100,832.20  ...  149,647.12  155,585.88
8            Thailand   34,339.83  ...   65,244.58   42,778.43
9            Viet Nam    7,417.00  ...   12,228.00   16,477.00

[10 rows x 15 columns]

In [ ]:
tips2 = tips2.reset_index()
tips2 = tips2.set_index("countries")

In [ ]:
tips2

                    index  2010Export  ...  2016Export  2016Import
countries                              ...
 Brunei Darussalam      0       460.5  ...       530.5    1,644.60
 Cambodia               1    2,028.46  ...    4,458.29    1,951.65
 Indonesia              2   16,670.51  ...   23,478.20   30,521.33
 Lao PDR                3         511  ...      830.97      619.17
 Malaysia               4   33,822.79  ...   35,270.61   39,872.59
 Myanmar                5       350.7  ...    3,779.40    2,899.50
 Philippines            6   17,782.00  ...   31,357.24   24,232.73
 Singapore              7  100,832.20  ...  149,647.12  155,585.88
 Thailand               8   34,339.83  ...   65,244.58   42,778.43
 Viet Nam               9    7,417.00  ...   12,228.00   16,477.00

[10 rows x 15 columns]

In [ ]:
tips2 = tips2.drop(["index"], axis = 1)

In [ ]:
tips2

                    2010Export  2010Import  ...  2016Export  2016Import
countries                                   ...
 Brunei Darussalam       460.5    1,267.30  ...       530.5    1,644.60
 Cambodia             2,028.46      980.24  ...    4,458.29    1,951.65
 Indonesia           16,670.51   26,460.99  ...   23,478.20   30,521.33
 Lao PDR                   511      263.12  ...      830.97      619.17
 Malaysia            33,822.79   31,833.54  ...   35,270.61   39,872.59
 Myanmar                 350.7       729.2  ...    3,779.40    2,899.50
 Philippines         17,782.00   12,017.00  ...   31,357.24   24,232.73
 Singapore          100,832.20  101,212.69  ...  149,647.12  155,585.88
 Thailand            34,339.83   41,333.32  ...   65,244.58   42,778.43
 Viet Nam             7,417.00    9,857.00  ...   12,228.00   16,477.00

[10 rows x 14 columns]

In [ ]:
tips

                           2010Export  ...         2016Import
Countries                              ...
Brunei Darussalam    1,096,169,746.88  ...   1,290,425,299.13
Cambodia               313,480,778.32  ...   4,613,681,441.87
Indonesia           33,347,510,079.00  ...  34,817,276,950.00
Lao PDR              1,151,833,526.07  ...   3,052,364,153.09
Malaysia            50,395,722,113.03  ...  41,411,056,843.14
Myanmar              4,194,081,160.46  ...   5,909,697,912.88
Philippines         11,557,640,365.00  ...  22,494,822,539.00
Singapore          107,672,854,603.10  ...  62,733,153,997.24
Thailand            44,317,939,586.97  ...  39,601,637,582.66
Viet Nam            10,350,948,467.43  ...  23,870,059,513.45

[10 rows x 14 columns]

In [ ]:
tips = tips.rename({'Lao PDR':'Laos', 'Viet Nam':'Vietnam'})

In [ ]:
tips

                           2010Export  ...         2016Import
Countries                              ...
Brunei Darussalam    1,096,169,746.88  ...   1,290,425,299.13
Cambodia               313,480,778.32  ...   4,613,681,441.87
Indonesia           33,347,510,079.00  ...  34,817,276,950.00
Laos                 1,151,833,526.07  ...   3,052,364,153.09
Malaysia            50,395,722,113.03  ...  41,411,056,843.14
Myanmar              4,194,081,160.46  ...   5,909,697,912.88
Philippines         11,557,640,365.00  ...  22,494,822,539.00
Singapore          107,672,854,603.10  ...  62,733,153,997.24
Thailand            44,317,939,586.97  ...  39,601,637,582.66
Vietnam             10,350,948,467.43  ...  23,870,059,513.45

[10 rows x 14 columns]

In [ ]:
tips2 = tips2.rename({'Lao PDR':'Laos','Viet Nam':'Vietnam'})

In [ ]:
tips2

                    2010Export  2010Import  ...  2016Export  2016Import
countries                                   ...
 Brunei Darussalam       460.5    1,267.30  ...       530.5    1,644.60
 Cambodia             2,028.46      980.24  ...    4,458.29    1,951.65
 Indonesia           16,670.51   26,460.99  ...   23,478.20   30,521.33
 Lao PDR                   511      263.12  ...      830.97      619.17
 Malaysia            33,822.79   31,833.54  ...   35,270.61   39,872.59
 Myanmar                 350.7       729.2  ...    3,779.40    2,899.50
 Philippines         17,782.00   12,017.00  ...   31,357.24   24,232.73
 Singapore          100,832.20  101,212.69  ...  149,647.12  155,585.88
 Thailand            34,339.83   41,333.32  ...   65,244.58   42,778.43
 Viet Nam             7,417.00    9,857.00  ...   12,228.00   16,477.00

[10 rows x 14 columns]